

<div class="container-fluid">
  <div class="col-md-6">
  <div class="jumbotron">
    <h3><%= @question.title %></h3>
    <br>
    <p><%= @question.content %></p>
    <br>
    <h6><%= link_to 'Answer this question', new_answer_path(question_id: @question.id) %></h6>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <% @answers.sort_by{|q| q.votes.to_i}.reverse.each do |answer| %>
      <div class="card">
        <div class="card-block">
          <h6 class="card-subtitle mb-2 text-muted">Answered by: <%= (User.find(answer.user_id)).name %></h6>
          <p class="card-text"><%= answer.content %></p>
          <p><%= pluralize(answer.votes, "votes") %></p>
            <div class="btn-group">
              <a><%= button_to '&#8679;'.html_safe, answer_path(answer), method: :put, params: {question_id: answer.question_id, content:answer.content, user_id:answer.user_id, votes: 1} %></a>
              <a><%= button_to '&#8681;'.html_safe, answer_path(answer), method: :put, params: {question_id: answer.question_id, content:answer.content, user_id:answer.user_id, votes: -1} %></a>
            </div>
            <br><br>
        </div>
      </div>
      <br>
    <% end %>
   </div>
  </div>
</div>

