
<div class="login_centered">
    <div class="card" style="width: 20rem;">
        <div class="card-block">
      <div class="form-signin">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        <h2 class="form-signin-heading">Please login</h2>
        <br>
        <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-group">
                <%= f.email_field :email, :required => true, :class => "form-control", :placeholder => "Email Address"%>
            </div>
             <div class="form-actions">
                  <%= f.submit "Log in", :class => "btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
    </div>
</div>

