
<div class="container-fluid">
      
  <div class="row">
    <div class="col-md-4">
    <% @courses.each do |course| %>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= course.name %></h4>
          <h6 class="card-subtitle mb-2 text-muted">Taught by: <%= course.professor %></h6>
          <p class="card-text"><%= course.description %></p>
          <a class="card-link"><%= link_to "View #{Question.where(course_id: course.id).count} questions", course %></a>
        </div>
      </div>
      <br>
    <% end %>
   </div>
  </div>
  <% if user_is_admin? %>
  <%= link_to 'Create a New Course', new_course_path %>
  <% end %>
</div>



